@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|Martel+Sans:200,300,400,600,700,800,900|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');


* {
    /*transition: 0.5s all;*/
}

body {
    font-family: 'Roboto Mono', sans-serif;
    color: white;
    background-color: black;
    font-size: 14px;
    --red: rgb(252, 25, 4);
    --green: rgb(24, 202, 9);
    --blue: rgb(7, 37, 244);
    --yellow: rgb(239, 214, 0);
    --black: black;
}

.red {
    --this-col: var(--red);
}

.green {
    --this-col: var(--green);
}

.blue {
    --this-col: var(--blue);
}

.yellow {
    --this-col: var(--yellow);
}

.black {
    --this-col: var(--black);
}

.card {
    display: inline-block;
    position: relative;
    margin: 14mm;
    width: 2.25in;
    height: 3.3795180723in;
    border-radius: 10px;
    background-color: var(--this-col);
}

#twrap > .card {
    border-radius: 0px;
}

:not(#twrap) > .card:hover {
    transform: rotate(180deg);
    transition: 5s transform linear;
}

.unocirc {
    width: 3cm;
    height: 2cm;
    border: 1mm solid red;
    border-radius: 200%;
    transform: rotate(-25deg);
}

.unocirc::after {
    position: absolute;
    top: 10%;
    content: 'UNO';
    font-family: 'Raleway', sans-serif;
    text-shadow: -5px -5px var(--this-col), -5px 0px var(--this-col), -5px 5px var(--this-col),
                  0px -5px var(--this-col),  0px 0px var(--this-col),  0px 5px var(--this-col),
                  5px -5px var(--this-col),  5px 0px var(--this-col),  5px 5px var(--this-col);
    width: 100%;
    height: 100%;
    transform: rotate(15deg);
    font-weight: 600;
    color: orange;
    font-size: 52px;
}

.forbidden {
    position: relative;
    padding-bottom: 100%;
    margin-top: 25%;
    margin-bottom: 25%;
}

.forbidden::before {
    position: absolute;
    content: '';
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1.5mm solid white;
    border-radius: 100%;
}

.forbidden::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1.25mm;
    top: 50%;
    transform: translate(0%, -50%) rotate(-45deg);
    background-color: white;
}

.forbidden.thin::before {
    border-width: 0.7mm;
}

.forbidden.thin::after {
    height: 0.7mm;
}

.tarrow {
    position: relative;
    width: 90px;
    height: 180px;
}

.tarrow.thin {
    transform: scale(0.33333333);
    width: 30px;
    height: 60px;
}

.tarrow > svg {
    position: absolute;
    stroke-width: 5px;
    left: 50%;
    top: 50%;
}

.tarrow.thin > svg {
    stroke-width: 6px;
}

.tarrow > svg:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-45deg) translate(5.5mm, -4.5mm);
}

.tarrow > svg:nth-child(2) {
    transform: translate(-50%, -50%) rotate(135deg) translate(5.5mm, -4.5mm);
}

.dispcard {
    position: absolute;
    width: 9.625mm;
    height: 17.4mm;
    border: 1.25mm solid white;
    border-radius: 3mm;
    box-shadow: 0 0 0 6px var(--this-col);
    background-color: var(--this-col);
}

.dispcard.two:nth-child(1) {
    transform: translate(-50%, -50%) translate(-35%, 35%);
}

.dispcard.two:nth-child(2) {
    transform: translate(-50%, -50%) translate(35%, -35%);
}

.dispcard.four:nth-child(1) {
    transform: translate(-50%, -50%) translate(-105%, 45%);
    border-color: var(--green);
}

.dispcard.four:nth-child(2) {
    transform: translate(-50%, -50%) translate(-35%, -25%);
    border-color: var(--blue);
}

.dispcard.four:nth-child(3) {
    transform: translate(-50%, -50%) translate(35%, 25%);
    border-color: var(--red);
}

.dispcard.four:nth-child(4) {
    transform: translate(-50%, -50%) translate(105%, -45%);
    border-color: var(--yellow);
}

.colorwheel {
    position: relative;
    width: 100px;
    height: 0px;
    margin-top: 25%;
    margin-bottom: 25%;
    padding-bottom: 100%;
    box-sizing: border-box;
}

.colorwheel.thin {
    width: 35px;
}

.colorwheel > div:not(:nth-child(3)) {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 0px;
    white-space: nowrap;
}

.colorwheel > div:nth-child(1) {
    top: 0%;
    bottom: 50%;
}

.colorwheel > div:nth-child(2) {
    top: 50%;
    bottom: 0%;
}

.colorwheel > div:not(:nth-child(3))::before, .colorwheel > div:not(:nth-child(3))::after {
    position: absolute;
    display: inline-block;
    content: '';
    top: 0;
    bottom: 0;
    border: 1.5mm solid white;
}

.colorwheel.thin > div:not(:nth-child(3))::before, .colorwheel.thin > div:not(:nth-child(3))::after {
    border-width: 0.66666mm;
}


.colorwheel > div:nth-child(1)::before {
    border-color: var(--yellow);
    left: 0%;
    right: 50%;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 200px;
}

.colorwheel > div:nth-child(1)::after {
    border-color: var(--green);
    left: 50%;
    right: 0%;
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 200px;
}

.colorwheel > div:nth-child(2)::before {
    border-color: var(--blue);
    left: 0%;
    right: 50%;
    border-right: none;
    border-top: none;
    border-bottom-left-radius: 200px;
}

.colorwheel > div:nth-child(2)::after {
    border-color: var(--red);
    left: 50%;
    right: 0%;
    border-left: none;
    border-top: none;
    border-bottom-right-radius: 200px;
}

.colorwheel > div:nth-child(3)::before, .colorwheel > div:nth-child(3)::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 1mm;
    background-color: var(--this-col);
    transform: translate(0%, -50%);
}

.colorwheel.thin > div:nth-child(3)::before, .colorwheel.thin > div:nth-child(3)::after {
    height: 0.75mm;
}

.colorwheel > div:nth-child(3)::after {
    transform: translate(0%, -50%) rotate(90deg);
}

.ul::after {
    content: '';
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    transform: translate(0%, -150%);
    background-color: white;
}

.e .ul::after {
    height: 2px;
}

.mid .ul::after {
    height: 6px;
}

.e {
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 300;
    font-size: 31px;
}

.e.br {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

.e > div {
    position: absolute;
    top: 4mm;
    left: 6mm;
}

.mid {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 300;
    font-size: 112px;
    transform: translate(-50%, -50%);
    vertical-align: middle;
}

.showdiags .diag {
    position: absolute;
    height: 4px;
    background-color: purple;
    top: 50%;
    width: 200%;
    transform: translate(-25%, -50%) rotate(54.8335639642deg);
}


